<h1>Modification de l'Article n°<%= @article.id %></h1>

<!-- 
Si on y trouve une erreur à l'entrée d'un article on vérifie qu'il il y'a une erreur
Si il y'a une erreur, on affiche tout les messages d'erreur à l'utilisateur
-->
<% if @article.errors.any? %>
    <h2>Erreur(s) à cause des raisons suivantes :</h2><ul>
    <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>
 
 <!-- Boucle qui permet d'afficher un formulaire -->
<%= form_for @article do |f| %>
    <!-- Balise title -->
    <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </p>
    <!-- Balise description -->
    <p>
        <%= f.label :description %><br>
        <%= f.text_area :description %>
    </p>
    <!-- Balise submit -->
    <p>
        <%= f.submit %>
    </p>
<% end %>
<%= link_to 'Retour à la liste', articles_path %> | 
<%= link_to 'Afficher cette article', article_path(@article) %>