<hr>
<%= link_to 'Home', root_path %>
<%= link_to 'About', about_path %>
<%= link_to 'Tout les Articles', articles_path %>
<hr>
<h1>Articles</h1>
<p><%= link_to 'Créer un article', new_article_path %></p>
<table>
    <tr>
        <th>Numéro ID</th>
        <th>Titre</th>
        <th>Description</th>
    </tr>
    
    <% @articles.each do |article| %>
    <tr>
        <td>
            <%= article.id %>
        </td>
        <td>
            <%= article.title %>
        </td>
        <td>
            <%= article.description %>
        </td>
        <td>
            <%= link_to 'Editer', edit_article_path(article) %>
        </td>
        <td>
            <%= link_to 'Afficher', article_path(article) %>
        </td>
    </tr>
    <% end %>
    
</table>